<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskTracker</title>
    <link rel="stylesheet" href="../stylesheet/box.css" media="screen" />
    <link rel="stylesheet" href="../stylesheet/input.css" media="screen" />
    <link rel="stylesheet" href="../stylesheet/heading.css" media="screen" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>List It</h1>
        <div class="inputcomponents">
          <input type="text" placeholder="do Now..." class="prompt" required />
          <button class="TaskAdder">Add</button>
        </div>
        <div class="listofdata">
          <!-- content rendered from js -->
        </div>
      </div>
    </div>
    <script src="../javascript/index.js"></script>
  </body>
</html>
